/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
    --color_1: #003336;
    --color_2: #004B40;
    --slt-opacity: #D1D1D1;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: montserrat_bold;
    src: url(./assets/fonts/Montserrat-Bold.ttf) format("opentype");
}

@font-face {
    font-family: montserrat_medium;
    src: url(./assets/fonts/Montserrat-Medium.ttf) format("opentype");
}